certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
filelock==3.4.1
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.0
numpy==1.19.5
packaging==21.3
Pillow==8.4.0
protobuf==3.19.4
pyaes==1.6.1
pyasn1==0.4.8
pyparsing==3.0.9
regex==2022.4.24
requests==2.27.1
rsa==4.8
sacremoses==0.0.53
scikit-learn==0.24.2
scipy==1.5.4
sentencepiece==0.1.96
six==1.16.0
telebot==0.0.4
Telethon==1.24.0
tensorboardX==2.5
threadpoolctl==3.1.0
tokenizers==0.8.1rc2
torch==1.10.1+cu102
torchaudio==0.10.1
torchvision==0.11.2+cu102
tqdm==4.64.0
transformers==3.3.1
typing_extensions==4.1.1
urllib3==1.26.9
zipp==3.6.0
